# Sanal ortam
drone_env/
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE dosyaları
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS dosyaları
.DS_Store
Thumbs.db

# Log dosyaları
*.log
*.txt.bak

# Derleme çıktıları
dist/
build/
*.egg-info/
